
html, body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman";
    height: 100vh;
    display: grid;
    grid-template-rows: 80px auto 80px; 
}

header {
    background-color: rgb(129, 136, 144);
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    padding: 0 10px;
}

header h3 {
    margin: 0;
    padding: 5px 10px;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    font-size: 1.25vw;
    min-width: 60%;
    justify-self: start;
}

header h1 {
    margin: 0;
    justify-self: end;
    font-size: 2vw;
}

.content {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 26% 26% auto; 
    gap: 4%;
}

.right {
    display: grid;
    grid-template-rows: 200px auto;
}

.right2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8%;
}

.block2 {
    padding: 5px 10px;
    background-color: rgb(169, 174, 176);
    text-align: center;
}

.block3 {
    padding: 5px 10px;
    background-color: rgb(190, 194, 196);
    text-align: center;
}

.block4 {
    padding: 5px 10px;
    background-color: rgb(171, 173, 173);
    text-align: center;
    font-size: large;
    overflow: hidden;

}

.block5 {
    background-color: rgb(207, 212, 213);
    text-align: left;
    padding: 5px 10px;
}

.block6 {
    background-color: rgb(230, 237, 238);
    text-align: center;
    padding: 5px 10px;
}

footer {
    background-color: rgb(129, 136, 144);
    box-sizing: border-box;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding: 0 10px;
}

footer h2 {
    margin: 0;
    font-size: 1.5vw;
}

footer h5 {
    grid-column: 2;
    margin: 0;
    padding: 5px 10px;
    background-color: white;
    border: 2px solid black;
    font-size: 1vw;
    justify-self: end;
}

a.class1 {
    color: rgb(58, 81, 109);
    text-decoration: none;
}

ol.class {
    list-style-position: inside; 
    text-align: center; 
    color: rgb(58, 81, 109);
}
