
body {
    margin: 0;
    font-family: "Times New Roman";
}
			
header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(129, 136, 144);
	width: 100%;
	text-align: right;
	height: 10%;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 3vh;
}

header h1 {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    margin: 0;
    width: 60vw;
    font-size: 2vw;
}

header h3 {
    position: absolute;
    top: 50%;             
    left: 10px;
    transform: translate(0, -50%);
    margin: 0;
    padding: 5px 10px;
    background-color: white;
    border: 2px solid black;
    display: inline-block;
    box-sizing: border-box;
    width: 40vw;
    text-align: center;
    font-size: 1.25vw;
}

.content {
    width: 100vw;
	position: absolute;
    top: 10%;      
    bottom: 10%;  
    left: 0;
    right: 0;
}
			
.right {
	float: right;
    width: 45vw;
	height: 100%;
}

.right2 {
	float: right;
    width: 45vw;
	height: 65%;
}

.block2{
    box-sizing: border-box;
    display: inline-block;
    overflow: auto;
    padding: 5px 10px;
	float: left;
	background-color: rgb(169, 174, 176);
	text-align: center;
	width: 24.5vw;
	margin-right: 3vw;
	height: 100%;
}

.block3{
    box-sizing: border-box;
    display: inline-block;
    overflow: auto;
    padding: 5px 10px;
	float: left;
	background-color: rgb(190, 194, 196);
	text-align: center;
	width: 24vw;
	height: 100%;
}
			
.block4{
    box-sizing: border-box;
    display: inline-block;
    overflow: auto;
    padding: 5px 10px;
	float: right;
	background-color: rgb(171, 173, 173);
	text-align: center;
    width: 45vw;
	height: 35%;
    font-size: large;
}

.block5{
    box-sizing: border-box;
    display: inline-block;
    overflow: auto;
    padding: 5px 10px;
	float: left;
	background-color: rgb(207, 212, 213);
	text-align: left;
	width: 48%;
	height: 100%;
}

.block6{
    box-sizing: border-box;
    display: inline-block;
    overflow: auto;
    padding: 5px 10px;
	float: right;
	background-color: rgb(230, 237, 238);
	text-align: center;
	width: 48%;
	height: 100%;
	margin-left: 4%;
}
			
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	background-color: rgb(129, 136, 144);
	text-align: left;
	height: 10%;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 3vh
}

footer h2 {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    margin: 0;
    font-size: 1.5vw;
}

footer h5 {
    position: absolute;
    top: 50%;             
    right: 10px;
    transform: translate(0, -50%);
    margin: 0;
    padding: 5px 10px;
    background-color: white;
    border: 2px solid black;
    display: inline-block;
    box-sizing: border-box;
    font-size: 1vw;
}

a.class1 {
    color: rgb(58, 81, 109);
    text-decoration: none;
}

ol.class {
    list-style-position: inside; 
    text-align: center; 
    color: rgb(58, 81, 109);
}